* {
  font-family: "Helvetica", sans-serif;
}

main {
  margin: auto;
  padding: 1.6em;
}

nav {
  background-color: gray;
  display: fixed;
  text-align: right;
  height: 50px;
  width: 100%;
  margin: auto;
  position: relative;
}

nav h2 {
  position: absolute;
  left: 20px;
  bottom: 8px;
  margin: 0px;
}

.navlink {
  text-align: right;
  padding: 20px;
  color: purple;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.search-wrapper {
  font-size: 0px;
  margin: 0.5em;
}

.search-field {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid gray;
  height: 35px;
  width: 40%;
  font-size: 16px;
  padding: 4px;
  box-sizing: border-box;
}

.search-button {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid gray;
  background-color: white;
  height: 35px;
  display: inline-block;
  position: relative;
  bottom: 5px;
}

button {
  border: 1px solid gray;
}

button img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  text-align: center;
}

.button-group {
/*  margin: 0.5em;*/
  font-size: 0px;
  position: relative;
  top: 20px;
}

.pages {
  height: 35px;
  box-sizing: border-box;
  display: inline-block;
  background-color: white;
  font-size: 16px;
  text-align: center;
  border: 1px solid gray;
  vertical-align: middle;
  padding: 8px;
}

.left-button {
  border-radius: 5px 0px 0px 5px;
  width: 10em;
}

.pages-box {
  width: 15em;
}

.right-button {
  border-radius: 0px 5px 5px 0px;
  width: 10em;
}

.listings-wrapper {
  position: relative;
  top: 40px;
}

.listings {
  color: gray;
}

p a {
  font-weight: bold;
  color: blue;
  text-decoration: none;
}